**/Instructor/
**/instructor/
AP-Spring-2020/
AP-Fall-2019/KalbasiMaterials/
AP-Fall-2019/SeyedMaterials/
AP-Fall-2019/EdalatMaterials/Admin/
AP-Fall-2019/EdalatMaterials/Exams/
AP-Spring-2020/Admin/
AP-Spring-2020/Exams/
*exam*
*Exam*
*lecture-notes*
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.class
*.wbk
*.zip
*.rar